:root {
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-36: 36px;
  --fs-48: 48px;
  --yellow-300: #f6e300;
  --black:#000000;
  --white:#ffffff;
  --light-yellow:#fff03f;
  --red:#f4241e;
}
